*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.mono{
    float: left;
    width: 250px;
    left: 50px;
    top: 150px;
    margin-top: 120px;
}
.texto{
    display: inline-block;
    margin-top: 80px;
    top: 250px;
    left: 500px;
    width: 620px;
    text-align: justify
}
.cuerpo{
    margin: 00px 0px 20px 0px;
}
h3{
    margin: 20px 0px 0px 0px;
}
h4{
    margin: 20px 0px 20px 0px;
}
#campos{
    margin: 30px 0px 0px 0px;
}


.caja{
    width: 600px;
    height: 50px;
}
.derecha{
    margin-top: 20px;
    margin-bottom: 130px;
    
}
.izquierda{
    position: relative;
    margin-top: -185px;
    margin-left: 250px;
}
.clearfix{
    clear: both;
}
.boton{
    position: relative;
    top: 50px;
    
}
.chekc{
    position: relative;
    top: 30px;
    left: 180px;;
}
#parrafo{
    width: 400px;
    position: relative;
    top: -20px;
    left: 50px;
}
.textfinal{
    position: relative;
    top: 80px;
    text-align: justify;
}
.enlace{
    text-decoration: underline;
}
a{
    color: rgb(50, 122, 135);
}